.App {
  background: #eee;
  height: 2000vh;
  width: 100vw;
}

.search-contents {
  padding-top: 20vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}
